$font-size: calc(0.84rem + 0.22vw) !default
$font-weight: 400 !default
$font-family: "PT Sans", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif !default
$heading-weight: 700 !default
$line-height: 1.7 !default
$link-color: #2251cc !default
$dark: #152033 !default
$light: #ffffff !default

@function reduce ($percent)
  @return rgba(mix($dark, $light), $percent / 100)
